.container {
  width: 800px;
  max-width: 90%;
  padding: 20px;
  border: 1px solid;
  margin: 20px auto;
}
nav.main-nav {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input {
  box-sizing: border-box;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
}
.entry-form {
  /* width: 100%; */
  display: grid;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
}
.entry-form > input, .entry-form > select, .entry-form > button {
  height: 100%;
}
.entry-form-text {
  grid-column: 1 / span 5;
}
td.delete {
  text-align: center;
  vertical-align: middle;
  background-color: lightpink;
}
td.delete:hover {
  filter: brightness(0.8);
}
button.delete-entry {
  height: 100%;
  width: 100%;
}
