<h2>Add Entry</h2>
<form class="entry-form" ng-submit="vm.addEntry()">
  <input required ng-model="vm.newEntry.text" class="entry-form-text" name="entry-form-text" type="text" placeholder="What did you do?" />
  <select required ng-model="vm.newEntry.project_id" ng-options="project.id as project.name for project in vm.projects" />
    <option disabled selected value>Choose Project</option>
  </select>
  <input required 
    ng-model="vm.newEntry.entry_date" 
    ng-focus="vm.dateType = 'date'" 
    ng-blur="vm.dateType = 'text'" 
    type="{{vm.dateType}}" 
    placeholder="Date" />
  <input required 
    ng-model="vm.newEntry.start_time" 
    ng-focus="vm.startTimeType = 'time'" 
    ng-blur="vm.startTimeType = 'text'" 
    type="{{vm.startTimeType}}" 
    step="900" 
    placeholder="Start Time"/>
  <input required 
    ng-model="vm.newEntry.end_time" 
    ng-focus="vm.endTimeType = 'time'" 
    ng-blur="vm.endTimeType = 'text'" 
    type="{{vm.endTimeType}}" 
    step="900" 
    placeholder="End Time"/>
  <button type="submit">Submit</button>
</form>
<h2>History</h2>
<table>
  <thead>
    <th width="40%">Entry</th>
    <th>Project</th>
    <th width="10%">Date</th>
    <th width="10%">Hours</th>
    <th width="10%">Actions</th>
  </thead>
  <tbody>
    <tr height="30px" ng-repeat="entry in vm.entries">
      <td>{{entry.text}}</td>
      <td>{{entry.project}}</td>
      <td>{{entry.date}}</td>
      <td>{{entry.hours}}</td>
      <td class="delete" ng-click="vm.deleteEntry(entry.id)">X</td>
    </tr>
  </tbody>
</table>