<h2>Add Entry</h2>
<form id="add-entry-form" ng-submit="vm.addEntry()">
  <input required ng-model="vm.newEntry.text" class="entry-form-text" name="entry-form-text" type="text" placeholder="What did you do?" />
  <select required ng-model="vm.newEntry.project_id" ng-options="project.id as project.name for project in vm.projects" />
    <option disabled selected value>Choose Project</option>
  </select>
  <input required 
    ng-model="vm.newEntry.entry_date" 
    ng-focus="vm.addDateType = 'date'" 
    ng-blur="vm.addDateType = 'text'" 
    type="{{vm.addDateType}}" 
    placeholder="Date" />
  <input required 
    ng-model="vm.newEntry.start_time" 
    ng-focus="vm.startTimeType = 'time'" 
    ng-blur="vm.startTimeType = 'text'" 
    type="{{vm.startTimeType}}" 
    step="900" 
    placeholder="Start Time"/>
  <input required 
    ng-model="vm.newEntry.end_time" 
    ng-focus="vm.endTimeType = 'time'" 
    ng-blur="vm.endTimeType = 'text'" 
    type="{{vm.endTimeType}}" 
    step="900" 
    placeholder="End Time"/>
  <button type="submit">Submit</button>
</form>
<h2>History</h2>
<table>
  <thead>
    <th ng-class="{sort: vm.sort.column === 'text', reverse: vm.sort.reverse}"
        ng-click="vm.sortEntries('text')">
      Entry
    </th>
    <th ng-class="{sort: vm.sort.column === 'project_name', reverse: vm.sort.reverse}"
        ng-click="vm.sortEntries('project_name')" width="30%">
      Project
    </th>
    <th ng-class="{sort: vm.sort.column === 'entry_date', reverse: vm.sort.reverse}"
        ng-click="vm.sortEntries('entry_date')" width="10%">
      Date
    </th>
    <th ng-class="{sort: vm.sort.column === 'hours', reverse: vm.sort.reverse}" 
        ng-click="vm.sortEntries('hours')" width="10%">
      Hours
    </th>
    <th width="10%">Actions</th>
  </thead>
  <tbody>
    <tr height="30px" ng-repeat="entry in vm.entries | orderBy:vm.sort.column:vm.sort.reverse">
      <td  ng-dblclick="vm.editEntry($index)" ng-hide="vm.editingEntry.id === entry.id">{{entry.text}}</td>
      <td  ng-dblclick="vm.editEntry($index)" ng-hide="vm.editingEntry.id === entry.id">{{entry.project_name}}</td>
      <td  ng-dblclick="vm.editEntry($index)" ng-hide="vm.editingEntry.id === entry.id">{{entry.entry_date | date:'M/d/yy'}}</td>
      <td  ng-dblclick="vm.editEntry($index)" ng-hide="vm.editingEntry.id === entry.id">{{entry.hours}}</td>
      <td class="delete" ng-click="vm.deleteEntry(entry.id)" ng-hide="vm.editingEntry.id === entry.id">X</td>
      <td ng-show="vm.editingEntry.id === entry.id">
        <input ng-model="vm.editingEntry.text" type="text">
      </td>
      <td ng-show="vm.editingEntry.id === entry.id">
        <select required ng-model="vm.editingEntry.project_id" ng-options="project.id as project.name for project in vm.projects" />
          <option disabled selected value>Choose Project</option>
        </select>
      </td>
      <td ng-show="vm.editingEntry.id === entry.id">
        <input ng-model="vm.editingEntry.entry_date" type="date" />
      </td>
      <td ng-show="vm.editingEntry.id === entry.id">
        <input ng-model="vm.editingEntry.hours" type="number" min="0" step="0.25">
      </td>
      <td class="edit-actions" ng-show="vm.editingEntry.id === entry.id">
          <div class="confirm" ng-click="vm.updateEntry(entry.id)">✔</div>
          <div class="undo" ng-click="vm.updateEntry(null)">◀</div>
      </td>
    </tr>
  </tbody>
</table>
