{{vm.message}}
<h2>Add Project</h2>
<form id="add-project-form" ng-submit="vm.addProject()">
  <input ng-model="vm.newProject.name" type="text" />
  <button type="submit">Submit</button>
</form>
<h2>Projects</h2>
<table>
  <thead>
    <th>Project</th>
    <th width="15%">Total Hours</th>
    <th width="5%"></th>
  </thead>
  <tbody>
    <tr height="30px" ng-repeat="project in vm.projects">
      <td ng-dblclick="vm.editProject($index)" ng-hide="project.id === vm.editingProject.id">{{project.name}}</td>
      <td ng-show="project.id === vm.editingProject.id">
        <form class="edit-project-name" ng-submit="vm.updateProject($index)">
          <input ng-model="vm.editingProject.name" type="text" />
          <button type="submit">Save</button>
          <button ng-click="vm.editingProject = {}">Cancel</button>
        </form>
        
      </td>
      <td>{{project.total_hours}}</td>
      <td class="delete" ng-click="vm.deleteProject(project.id)">X</td>
    </tr>
  </tbody>
</table>