{{vm.message}}
<h2>Add Project</h2>
<form id="add-project-form" ng-submit="vm.addProject()">
  <input ng-model="vm.newProject.name" type="text" placeholder="Project Name"/>
  <button class="add" type="submit"><i class="fas fa-plus"></i></button>
</form>
<h2>Projects</h2>
<table>
  <thead>
    <th ng-class="{sort: vm.sort.column === 'name', reverse: vm.sort.reverse}"
        ng-click="vm.sortProjects('name')">
      Project
    </th>
    <th ng-class="{sort: vm.sort.column === 'total_hours', reverse: vm.sort.reverse}"
        ng-click="vm.sortProjects('total_hours')" width="15%">
      Total Hours
    </th>
    <th width="10%">Actions</th>
  </thead>
  <tbody>
    <tr height="30px" ng-repeat="project in vm.projects | orderBy:vm.sort.column:vm.sort.reverse">
      <td ng-dblclick="vm.editProject($index)" ng-hide="project.id === vm.editingProject.id">
        {{project.name}}
      </td>
      <!-- double click to show project name edit form -->
      <td ng-show="project.id === vm.editingProject.id">
        <!-- <form class="edit-project-name" ng-submit="vm.updateProject($index)"> -->
          <input ng-model="vm.editingProject.name" type="text" />
          <!-- <button type="submit">Save</button>
          <button ng-click="vm.editingProject = {}">Cancel</button> -->
        <!-- </form> -->
      </td>
      <td class="center">{{project.total_hours}}</td>
      <td class="delete" ng-click="vm.deleteProject(project.id)" ng-hide="project.id === vm.editingProject.id">
        <i class="far fa-trash-alt"></i>
      </td>
      <td class="edit-actions" ng-show="project.id === vm.editingProject.id">
          <div class="confirm" ng-click="vm.updateProject(project.id)"><i class="fas fa-check"></i></div>
          <div class="undo" ng-click="vm.updateProject(null)"><i class="fas fa-undo"></i></div>
      </td>
    </tr>
  </tbody>
</table>